<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.styles.css"> 
    <title>Group Chat</title>
</head>

<body>
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4 rounded-square" src="/logo.png" alt="logo" width="200px" height="200px">
        <h1 class="display-5 fw-bold">Welcome to Group-Chat</h1>
        <div class="col-lg-3 mx-auto">
            <a href="/" class="btn btn-success mt-2">Home</a>
            <br>
            <a href="/register" class="btn btn-info mt-2">Signup</a>
            <a href="/login" class="btn btn-secondary mt-2">Sign in</a>
            <a href="/profile" class="btn btn-warning mt-2">Profile</a>
        </div>
    </div>
</body>

</html>
